[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
apscheduler = "*"
wikipedia = "*"
wikidata = "*"
psaw = "*"
setuptools = "*"
mwparserfromhell = "*"
requests = "*"

[dev-packages]
pycrunch-engine = "*"

[requires]
python_version = "3.9"
